ul{
  padding: 0;
}
li {
  list-style: none;
}

.side-bar{
  width: 300px;
}


.cards-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 0 40px;
}

.cards {
  border: 1px solid #ccc;
  /* border-radius: 20px; */
  display: flex;
  flex-direction: column;
}

.card-img {
  /* border-radius: 20px; */
  height:230px;
  object-fit: cover;
}

.card-contents {
  padding: 20px;
  flex: 1;
}

.readmore-btn {
  padding: 8px 12px;
  background-color: rgb(72, 75, 75);
  color: #fff;
  font-size: 14px;
  border: 1px solid rgb(72, 75, 75);
  text-decoration: none;
  border-radius: 15px;
  display: block;
  width: fit-content;
}

.readmore-btn:hover {
  background-color: white;
  color: rgb(72, 75, 75);
}

.pagetile {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.right-content {
  width: calc(100% - 340px);
  float: right;
}
